Architecture: amd64
Depends: adduser, libc6 (>= 2.38), libexpat1 (>= 2.0.1), libgcc-s1 (>= 3.0), libmosquitto1 (>= 1.6), libssl3t64 (>= 3.0.0), libstdc++6 (>= 14), libsystemd0
Description: The VSCP daemon
Homepage: https://www.vscp.org
Maintainer: Ake Hedman <akhe@vscp.org>
Package: vscpd
Priority: optional
Section: net
Version: 15.0.3
Installed-Size: 6175

